$my-orange: #613F75;
$my-off-white: #f6f7f2;
$my-gold-d: #b68a2c;
$my-gold-l: #b7903c;
$my-black: #1c1c1c;
$my-faint-beige: #d3cfaf;
$my-green: #339966;
$my-magenta: #ef2853;

$font: "Open Sans Condensed", sans-serif;